div(class="contentDiscussions")
    div(class="discussions")
        input#sendMessage(type="text", name="message" placeholder="Tapez votre message ici...")
        div#typingMessage
        div#historiqueMessages