div(class="contentDiscussions")
    div(class="discussions")
        input#sendMessage(type="text", name="message" placeholder="Tapez votre message ici...")
        div#typingMessage
        div(class="historiqueMessages")
            div(class="messageOthers")
                p(class="nameUti") Pseudo 1
                p(class="content") Coucou ! :)
            div(class="myMessage")
                p(class="nameUti") Moi
                p(class="content") Coucou !!