extends layout.pug
block content 
    div(class="content")
        include lateralBarre.pug
        include discussions.pug
        ul#userList

    script(src="/socket.io/socket.io.js")
    script(src="/scripts/app.js")