- const items = [ "General", "Gaming", "Random"]
mixin channels(title, v) 
    if title === "General"
        li.active(data-value=v)= title
    else
        li(data-value=v)= title

nav(class="lateralBarre")
    p Channels
    ul#channelList
        each item, index in items
            +channels(item, `channel${index+1}`)