@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html,
body {
    
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}

.navBar{
    background-color: #353a40;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.navBar > p#titleSite {
    background-color: #272a2f;
    padding : 7px 0 7px 10px;
    color : white;
    flex: 25;
}

.navBar > p#myName {
    padding : 7px 10px;
    color : white;
    flex: 75;
    text-align: right;
}

.content{
    display: flex;
    justify-content: flex-start;

}

.content > .lateralBarre{
    background-color: #f8f9fb;
    flex: 25;
    min-height: 100vh;
}

.content > .lateralBarre > p{
    margin: 20px 0 0.5rem 0;
    padding-left: 15px;
    color: #99989d;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.content > .lateralBarre > ul > li{
    margin-bottom: 0.6rem;
    padding-left: 15px;
    font-size: 0.8rem;
    border-right: 1px solid #e6e7e9;
    cursor: pointer;
}




.content > .contentDiscussions{
    background-color: #ffffff;
    flex : 50;
}
.content > .contentDiscussions > .discussions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content > .contentDiscussions > .discussions .historiqueMessages{
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content > .contentDiscussions > .discussions .historiqueMessages .myMessage,
.content > .contentDiscussions > .discussions .historiqueMessages .messageOthers{
    display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 10px;
}



.content > .contentDiscussions > .discussions .historiqueMessages .messageOthers{
    align-self: flex-start;
}

.content > .contentDiscussions > .discussions .historiqueMessages .myMessage{
    align-self: flex-end;
}

.content > .contentDiscussions > .discussions .historiqueMessages .messageOthers > .nameUti,
.content > .contentDiscussions > .discussions .historiqueMessages .myMessage > .nameUti
{
    font-size: 0.8rem;
}

.content > .contentDiscussions > .discussions .historiqueMessages .messageOthers > .content, 
.content > .contentDiscussions > .discussions .historiqueMessages .myMessage > .content
{
    
    font-size: 0.9rem;
}

.content > .contentDiscussions > .discussions .historiqueMessages .messageOthers > .content{
    margin-left: 20px;
}

.content > .contentDiscussions > .discussions .historiqueMessages .myMessage > .content{
    margin-right: 20px;
}

.tox-tinymce{
    font-size: 1rem;
    padding: 5px 7px;
    margin-top: 1rem;
    border-radius: 5px;
    border : 1px solid #dbdbdc;
    width: 80%;
    height: 50px;
}

.content #listUserConnected{
    background-color: #f8f9fb;
    flex: 25;
    min-height: 100vh;
    text-align: center;
    
}

.content #userList{
    list-style-type: none;
    margin-top: 1rem;
}

.content #userList li{
    
    margin-bottom: 0.6rem;
    padding-left: 15px;
    font-size: 0.8rem;
    border-right: 1px solid #e6e7e9;
    text-align: center;
}

.active {
    color: purple;
    font-weight: bold;
}