extends layout.pug
block content 
    ul
        each student in studentsFr
            li(id=`student-${student.name}`)
                p. 
                    #{student.name} #{student.birth} 
                button(onclick="deleteStudent('" + student.name + "', '" + JSON.stringify(studentsFr) + "')") X
    script. 
        deleteStudent = (name, studentsFrStr) => {
            let studentsFr = JSON.parse(studentsFrStr);
            studentsFr = studentsFr.filter(student => student.name !== name);
            const studentElement = document.getElementById(`student-${name}`);
            studentElement.parentNode.removeChild(studentElement);
        }
