extends layout.pug
block content 
    ul
        each student in studentsFr
            li(id=`student-${student.name}`)
                p. 
                    #{student.name} #{student.birth} 
                form(action=`/delete?name=${student.name}`, method="POST")
                    input(type="hidden", name="_method", value="DELETE")
                    button(type="submit") X 

